<ion-view view-title="Poll" class="poll-view">
  <h1 class="title">Abstimmung</h1>
  <ion-content has-bouncing="true">
    <h2>{{poll.title}} {{poll.id}}</h2>

    <ion-item href="#/polls">
      <i class="icon ion-chevron-left"></i> Zurück
    </ion-item>

    <h3>Deine Stimme</h3>
    <div class="vote-buttons">
      <ion-radio ng-model="vote" ng-value="'Yes'">Ja</ion-radio>
      <ion-radio ng-model="vote" ng-value="'No'">Nein</ion-radio>
    </div>

    <h3>Worum geht's</h3>
    <div class="blue-box">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>

    <h3>Resultate</h3>
    <div class="poll-diagram">
      <canvas id="pie" class="chart chart-pie" chart-data="pieChart.data" chart-labels="pieChart.labels" chart-legend="true" chart-colours="pieChart.colours">
      </canvas>
    </div>

  </ion-content>
</ion-view>
