<ion-view view-title="Poll">
  <h1 class="title">Abstimmung</h1>
  <ion-content class="poll-detail">

    <h2>{{poll.name}} {{poll.poll_id}}</h2>

    <ion-item href="#/polls">
      Zurück
    </ion-item>

    <h3>Deine Stimme</h3>
    <div class="vote-buttons">
      <ion-radio ng-model="vote" ng-value="'Yes'">Ja</ion-radio>
      <ion-radio ng-model="vote" ng-value="'No'">Nein</ion-radio>
    </div>

    <h3>Worum geht's</h3>
    <div class="poll-description">
      {{poll.description}}
    </div>

    <h3>Resultate</h3>
    <div class="poll-diagram">
      [DIAGRAM GOES HERE]
    </div>

  </ion-content>
</ion-view>
