<ion-view view-title="Polls" class="polls-view">
  <ion-content has-bouncing="true">

    <h2>Willkommen bei sans-vote</h2>
    <div class="blue-box">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br />
    </div>

    <h3>Anstehende Abstimmungen</h3>
    <ion-list class="polls-list">
      <ion-item ng-repeat="poll in futurePolls" href="#/poll/{{poll.poll_id}}">
        <h4>{{ poll.name }}</h4>
      </ion-item>
    </ion-list>

    <h3>Vergangene Abstimmungen</h3>
    <ion-list class="polls-list">
      <ion-item ng-repeat="poll in pastPolls" href="#/poll/{{poll.poll_id}}">
        <h4>{{ poll.name }}</h4>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
