<ion-view view-title="Poll" class="poll-view">
  <h1 class="title">Abstimmung</h1>
  <ion-content has-bouncing="true">
    <h2>{{poll.name}}</h2>

    <ion-item href="#/polls">
      <i class="icon ion-chevron-left"></i> Zurück
    </ion-item>

    <h3>Deine Stimme</h3>
    <div class="vote-buttons">
      <ion-radio ng-model="vote" ng-value="'Yes'" ng-click="setVote('1')">Ja</ion-radio>
      <ion-radio ng-model="vote" ng-value="'No'" ng-click="setVote('0')">Nein</ion-radio>
    </div>

    <h3>Worum geht's</h3>
    <div class="blue-box">
      {{poll.description}}
    </div>

    <h3>Resultate</h3>
    <div class="poll-diagram">
    <strong>Anzahl Stimmen: {{poll.totalvotes}}</strong>
      <canvas id="pie" class="chart chart-pie" chart-data="pieChart.data" chart-labels="pieChart.labels" chart-legend="true" chart-colours="pieChart.colours">
      </canvas>
    </div>

  </ion-content>
</ion-view>
