<ion-view view-title="Polls" class="polls-view">
  <ion-content has-bouncing="true">

    <h2>Willkommen bei sans-vote</h2>
    <div class="blue-box">
      Über 3 Millionen Menschen in der Schweiz müssen Schweigen wenns um die wichtigen Dinge geht: Abstimmungen.<br />
      sans-vote gibt allen eine Stimme, mach mit!
    </div>

    <h3>Anstehende Abstimmungen</h3>
    <ion-list class="polls-list">
      <ion-item ng-repeat="poll in futurePolls" href="#/poll/{{poll.poll_id}}">
        <h4>{{ poll.name }}</h4>
      </ion-item>
    </ion-list>

    <h3>Vergangene Abstimmungen</h3>
    <ion-list class="polls-list">
      <ion-item ng-repeat="poll in pastPolls" href="#/poll/{{poll.poll_id}}">
        <h4>{{ poll.name }}</h4>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
