
$mainBlue: rgb(0, 113, 188);

@mixin base-margin {
  margin-left: 16px;
  margin-right: 16px;
}

h2, h2:first-child {
  @include base-margin;
  font-size: 1.6rem;
  margin-top: 30px;
  margin-bottom: 20px;
}

h3 {
  @include base-margin;
  margin-top: 40px;
  font-size: 1.5rem;
}
h4 {
  @include base-margin;
  font-size: 1.0rem;
}

.blue-box {
  padding: 40px 20px;
  background-color: transparentize($mainBlue, 0.95);
}

// add styles for polls.html here
.polls-view {

}

// add styles for poll.html here
.poll-view {

  .poll-description {
    @include base-margin;
  }

  .poll-diagram {
    @include base-margin;
    margin-top: 20px;
    margin-bottom: 40px;
  }

}
